<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/Public/Admin/lib/html5.js"></script>
    <script type="text/javascript" src="/Public/Admin/lib/respond.min.js"></script>
    <script type="text/javascript" src="/Public/Admin/lib/PIE_IE678.js"></script>
    <![endif]-->
    <link href="/Public/Admin/css/H-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="/Public/Admin/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
    <link href="/Public/Admin/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/Public/Admin/lib/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>获奖列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 排名管理 <span class="c-gray en">&gt;</span> 排名列表 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="pd-20">
    <div class="text-c">
        <form action="/Admin/Winning/indexs" method="get">
            <input type="text" name="name" value="{$Think.get.name}" placeholder=" 名称" style="width:250px" class="input-text">
            <button class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 查询</button>
        </form>
    </div>
</div>
<div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
			<!--<a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>-->
			<a class="btn btn-primary radius" onclick="article_add('添加排名','/Admin/Winning/adds')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加排名</a></span>
    <span class="r">共有数据：<strong>{$count}</strong> 条</span>
</div>
<div class="mt-20">
    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
            <tr class="text-c">
                <!--<th width="25"><input type="checkbox" name="" value=""></th>-->
                <th width="100">ID</th>
                <th width="120">照片</th>
                <th width="120">名称</th>
                <th width="120">名次</th>
                <th width="120">类别</th>
                <th width="120">创建时间</th>
                <th width="120">操作</th>
            </tr>
            </thead>
            <tbody>
            <volist name="list" id="vo">
                <tr class="text-c">
                    <!--<td><input type="checkbox" value="" name=""></td>-->
                    <td>{$vo.id}</td>
                    <td class="text-l"><img src="{$vo.picture}" style="width: 30px;height: 40px;"></td>
                    <td class="text-l">{$vo.name}</td>
                    <td class="text-l">{$vo.score}</td>
                    <td>
                        <eq name="vo.type" value="1">个人</eq>
                        <eq name="vo.type" value="2">赛事</eq>
                    </td>
                    <td>{$vo.create_time|date='Y-m-d',###}</td>
                    <td class="f-14 td-manage"> <a style="text-decoration:none" class="ml-5" onClick="article_edit('排名编辑','/Admin/Winning/edits?id={$vo.id}')" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a> <a style="text-decoration:none" class="ml-5" onClick="article_del(this,{$vo.id})" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
                </tr>
            </volist>
            </tbody>
        </table>
        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
            {$page}
        </div>
    </div>
</div>
</div>
</div>
<script type="text/javascript" src="/Public/Admin/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/Public/Admin/lib/layer/1.9.3/layer.js"></script>
<script type="text/javascript" src="/Public/Admin/lib/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="/Public/Admin/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/Public/Admin/js/H-ui.js"></script>
<script type="text/javascript" src="/Public/Admin/js/H-ui.admin.js"></script>
<script type="text/javascript">
    /*资讯-添加*/
    function article_add(title,url,w,h){
        var index = layer.open({
            type: 2,
            title: title,
            content: url
        });
        layer.full(index);
    }
    /*资讯-编辑*/
    function article_edit(title,url,id,w,h){
        var index = layer.open({
            type: 2,
            title: title,
            content: url
        });
        layer.full(index);
    }
    /*资讯-删除*/
    function article_del(obj,id){
        if(confirm('确认要删除吗？') == true){
            window.location.href='/Admin/Winning/delete?id='+id;
        }else {
            return false;
        }
    }
</script>
</body>
</html>